<nav>
                    <div class="nav-wrapper green">
                      <a href="" class="brand-logo center"><img src="https://frozen-temple-15659.herokuapp.com//assets/1.png" style="margin-top: 10px"></a>
                      <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="https://frozen-temple-15659.herokuapp.com/main">Home</a></li>
                        <li><a href="https://frozen-temple-15659.herokuapp.com/random">Random URL</a></li>
                        <li><a href="https://frozen-temple-15659.herokuapp.com/custom">Custom URL</a></li>
                        <li><a href="https://frozen-temple-15659.herokuapp.com/api/history">History</a></li>
                      </ul>
                    </div>
                  </nav>
                  <!-- FIXED ACTION BUTTON -->
                  <div class="fixed-action-btn">
                    <a href="https://frozen-temple-15659.herokuapp.com/main" class="btn-floating green btn-large"><i class="large material-icons">mode_edit</i></a>
                    <ul>
                      <li><a href="https://frozen-temple-15659.herokuapp.com/random" class="btn-floating yellow btn-large"><i class="large material-icons">insert_chart</i></a></li>
                      <li><a href="https://frozen-temple-15659.herokuapp.com/custom" class="btn-floating blue btn-large"><i class="large material-icons">keyboard_hide</i></a></li>
                      <li><a href="https://frozen-temple-15659.herokuapp.com/api/history" class="btn-floating red btn-large"><i class="large material-icons">border_color
                    </i></a></li>
                    </ul>
                  </div>